body {
    font-size: 30pt;
    margin-left: 100;
    }
li {
    margin: 30px 0;
    }
a {
    text-decoration: none;
    color: black;
    }
a:hover {
    color: blue;
    }
.pur {
    color: BlueViolet;
}
.bl {
    color: blue;
}
.lidash {
    list-style-type:  'g';
}
.bold {
    font-weight: bold;
}
.normal {
    font-weight: normal;
}
